
h1 {
    color:#85440a;
}

.logo {
    z-index:10;
    position:absolute;
    margin-left:-128px;
}

.book {
    width:30%;
    min-width:250px;
    height:180px;
    float:left;
    border:2px solid #eee;
    padding:5px;
    margin:5px;
    display:block;
    color:#666;
}

.book img {
    float:left;
}

.book .t {
    font-size:150%;
    font-weight:bold;
    line-height:1.0;
}

span.indisponible{
    color: red;
}