{% extends 'layout.html.twig' %}

{% block contents %}
<form method="post" enctype="multipart/form-data">
	<strong>Nom :</strong><br/>
	<input class="form-control" type="text" name="name" required />
	<strong>Date de fin :</strong><br/>
	<input type="number" min="1" max="31" name="day" placeholder="jj"/>/
	<input type="number" min="1" max="12" name="month" placeholder="mm"/>/
	<input type="number" min="2015" name="year" placeholder="aaaa"/>
	<br/>
	<input class="btn btn-success" type="submit" value="Enregistrer" />
</form>
{% endblock %}
