{% extends 'layout.html.twig' %}

{% block contents %}
<div class="row">
	<div class="col-md-3">
		{% if book.image %}
		<img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />
		{% endif %}
	</div>
	<div class="col-md-9">
		<p><span class="t">{{ book.titre }} </span></p>
		<p><em>{{ book.auteur }}</em></p>
		<p>{{ book.synopsis }}</p>
	</div>
</div>
<div class="row">
	<h3>Exemplaires ({{ exemplaires|length }})</h3> 
	{% if app.session.get('admin') == 1 %}
		<div class="col-md-6">
			<h4>Disponibles ({{ exemplairesDispo|length }})</h4>
			<ul>
				{% for exemplaire in exemplairesDispo %}
					<li>{{ exemplaire.id }} 
						<a href="{{ path('emprunter', {id: exemplaire.id}) }}">Emprunter</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md-6">
			<h4>Indisponibles ({{ exemplairesIndispo|length }})</h4>
			<ul>
				{% for exemplaire in exemplairesIndispo %}
					<li>{{ exemplaire.id }} 
						<span class="indisponible">(indisponible)</span>
						<a href="{{ path('retourner', {id: exemplaire.id}) }}">Retour</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	{% else %}
		</h3>
		<ul>
			{% for exemplaire in exemplaires %}
				<li>{{ exemplaire.id }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
{% endblock %}
